<section class="about" id="about">
  <div class="container about-container">
    <p class="about-label">About the Game</p>
    <div class="about-content">
      <div class="about-content-text">
        <h1 class="about-title">One wrong move and your base is toast</h1>
        <div class="about-text">
          <p>
            NiFe WARS: Last Defense you've gotta plan ahead but also think on
            your feet. Each level introduces new enemy types and requires
            adjustments in defense strategy.
          </p>
          <p>
            You'll need to think fast and plan ahead - it keeps you on your toes
          </p>
        </div>
      </div>
      <div class="about-content-img">
        <picture>
          <source
            media="(max-width: 1199px)"
            srcset="
              ./img/about/info-img-mobile1x.png 1x,
              ./img/about/info-img-mobile2x.png 2x
            "
          />
          <source
            media="(min-width: 1200px)"
            srcset="
              ./img/about/info-img-desktop1x.png 1x,
              ./img/about/info-img-desktop2x.png 2x
            "
          />
          <img
            class="about-img"
            src="./img/about/info-img-desktop1x.png"
            alt="Start game"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
