<footer class="footer">
  <div class="footer-container">
    <nav class="footer-nav">
      <a
        class="footer-link"
        href="./privacy-policy.html"
        rel="noopener noreferrer"
      >
        Privacy Policy
      </a>
      <a
        class="footer-link"
        href="./terms-&-conditions.html"
        rel="noopener noreferrer"
      >
        Terms & Conditions
      </a>
    </nav>
    <p class="footer-desc">© 2026 calmprotocolway.pro — All rights reserved</p>
  </div>
</footer>
