<section class="gallery" id="gallery">
  <div class="gallery-container container">
    <div class="gallery-header">
      <h2 class="gallery-title">Gallery</h2>
      <h3 class="gallery-subtitle">Strategy in action</h3>
    </div>
    <div class="swiper gallery-swiper" id="gallery-swiper" data-gallery-swiper>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./img/gallery/gallery-Item1-desktop1x.png 1x,
                ./img/gallery/gallery-Item1-desktop2x.png 2x
              "
            />
            <img
              src="./img/gallery/gallery-Item1-mobile1x.png"
              srcset="./img/gallery/gallery-Item1-mobile2x.png 2x"
              alt="Battle arena with towers and enemy units"
              class="gallery-image"
              width="342"
              height="158"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./img/gallery/gallery-Item2-desktop1x.png 1x,
                ./img/gallery/gallery-Item2-desktop2x.png 2x
              "
            />
            <img
              src="./img/gallery/gallery-Item2-mobile1x.png"
              srcset="./img/gallery/gallery-Item2-mobile2x.png 2x"
              alt="Strategy battle with magical attack effects"
              class="gallery-image"
              width="342"
              height="158"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./img/gallery/gallery-Item3-desktop1x.png 1x,
                ./img/gallery/gallery-Item3-desktop2x.png 2x
              "
            />
            <img
              src="./img/gallery/gallery-Item3-mobile1x.png"
              srcset="./img/gallery/gallery-Item3-mobile2x.png 2x"
              alt="Game field showing tower placement and enemies"
              class="gallery-image"
              width="342"
              height="158"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./img/gallery/gallery-Item4-desktop1x.png 1x,
                ./img/gallery/gallery-Item4-desktop2x.png 2x
              "
            />
            <img
              src="./img/gallery/gallery-Item4-mobile1x.png"
              srcset="./img/gallery/gallery-Item4-mobile2x.png 2x"
              alt="Tower defense level with active abilities"
              class="gallery-image"
              width="342"
              height="158"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ./img/gallery/gallery-Item5-desktop1x.png 1x,
                ./img/gallery/gallery-Item5-desktop2x.png 2x
              "
            />
            <img
              src="./img/gallery/gallery-Item5-mobile1x.png"
              srcset="./img/gallery/gallery-Item5-mobile2x.png 2x"
              alt="Battle screen with multiple units and skill icons"
              class="gallery-image"
              width="342"
              height="158"
              loading="lazy"
            />
          </picture>
        </div>
      </div>
      <div class="gallery-navigation">
        <button
          class="gallery-button gallery-button-prev"
          data-gallery-button-prev
          type="button"
          aria-label="Previous gallery slide"
        >
          <svg class="svg-icon-prev" width="14" height="29">
            <use href="./icons/sprite.svg#button-prev"></use>
          </svg>
        </button>
        <button
          class="gallery-button gallery-button-next"
          data-gallery-button-next
          type="button"
          aria-label="Next gallery slide"
        >
          <svg class="svg-icon-next" width="14" height="29">
            <use href="./icons/sprite.svg#button-next"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
