<header class="header">
  <div class="container">
    <div class="header-wrapper">
       <a class="header-logo" href="./index.html" aria-label="Site logo">
          <img src="./img/favicon.png" alt="Logo" width="44" height="44" />
        </a>
      <nav class="header-nav">
        <ul class="header-menu">
          <li class="header-menu-item">
            <a class="header-menu-link" href="#about">About the Game</a>
          </li>
          <li class="header-menu-item">
            <a class="header-menu-link" href="#play">How to Play</a>
          </li>
          <li class="header-menu-item">
            <a class="header-menu-link" href="#features">Features</a>
          </li>
          <li class="header-menu-item">
            <a class="header-menu-link" href="#started">Get Started Now</a>
          </li>
          <li class="header-menu-item">
            <a class="header-menu-link" href="#gallery">Gallery</a>
          </li>
          <li class="header-menu-item">
            <a class="header-menu-link" href="#reviews">Player Reviews</a>
          </li>
          <li class="header-menu-item">
            <a class="header-menu-link" href="#faq">FAQ</a>
          </li>
          <li class="header-menu-item">
            <a class="header-menu-link" href="#contact">Contact</a>
          </li>
        </ul>
      </nav>
       </div>

      <button
        class="header-btn"
        type="button"
        aria-label="Open menu"
        data-burger-open
      >
        <svg class="burger-icon" width="44" height="44" aria-hidden="true">
          <use href="./img/sprite.svg#icon-burger"></use>
        </svg>
      </button>

    
     
    </div>
  </div>
</header>