<header class="header">
  <div class="header-container">
    <div class="header-wrapper">
      <a class="header-logo" href="./index.html" aria-label="Site logo">
        <img src="./img/header-logo.png" alt="Logo" width="44" height="44" />
      </a>
      <nav class="header-nav" aria-label="Main navigation" data-visible="close">
        <div class="burger-menu-top">
          <button
            class="burger-menu-close"
            type="button"
            aria-label="Close menu"
            data-action="close"
          >
            <svg
              class="burger-close-icon"
              width="20"
              height="20"
              aria-hidden="true"
            >
              <use href="./img/sprite.svg#icon-x"></use>
            </svg>
          </button>
        </div>

        <ul class="header-menu">
          <li class="header-menu-item">
            <a class="header-menu-link" href="#about">About the Game</a>
          </li>
          <li class="header-menu-item">
            <a class="header-menu-link" href="#play">How to Play</a>
          </li>
          <li class="header-menu-item">
            <a class="header-menu-link" href="#features">Features</a>
          </li>
          <li class="header-menu-item">
            <a class="header-menu-link" href="#started">Get Started Now</a>
          </li>
          <li class="header-menu-item">
            <a class="header-menu-link" href="#gallery">Gallery</a>
          </li>
          <li class="header-menu-item">
            <a class="header-menu-link" href="#reviews">Player Reviews</a>
          </li>
          <li class="header-menu-item">
            <a class="header-menu-link" href="#faq">FAQ</a>
          </li>
          <li class="header-menu-item">
            <a class="header-menu-link" href="#contact">Contact</a>
          </li>
        </ul>
      </nav>
    </div>

    <button
      class="header-btn"
      type="button"
      aria-label="Open menu"
      data-action="open"
    >
      <svg class="burger-icon" width="44" height="44" aria-hidden="true">
        <use href="./img/sprite.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</header>
