<section class="hero">
  <div class="hero-container">
    <div class="hero-left">
      <p class="hero-text-up">Build smart. Defend stronger.</p>
      <h1 class="hero-title">Hold the Line Against Endless Waves</h1>
      <p class="hero-text">It's all about strategy if you want to survive</p>
    </div>
    <div class="hero-right">
      <picture>
        <source
          media="(max-width: 1199px)"
          srcset="
            ./img/hero/hero-Image-mobile1x.png 1x,
            ./img/hero/hero-Image-mobile2x.png 2x
          "
        />
        <source
          media="(min-width: 1200px)"
          srcset="
            ./img/hero/hero-Image-desktop1x.png 1x,
            ./img/hero/hero-Image-desktop2x.png 2x
          "
        />
        <img
          class="hero-img"
          src="./img/hero/hero-Image-desktop1x.png"
          alt="Start game"
        />
      </picture>
    </div>
    <div class="hero-bottom">
      <div class="box">
        <a
          class="link-card"
          href="https://play.google.com/store/apps/details?id=com.wagmigame&hl=en&gl=us"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            class="link-icon"
            src="./img/hero/Google Play logo.png"
            alt="Google play"
          />
          <img class="link-label" src="./img/hero/Text.png" alt="Google play" />
        </a>
      </div>
    </div>
  </div>
</section>
