<div class="mobile-menu" data-burger>
  <div class="container">
    <div class="mobile-menu-top">
      <a class="mobile-logo" href="./index.html" aria-label="Site logo">
        <img src="../img/favicon.png" alt="Logo" width="44" height="44" />
      </a>

      <button
        class="burger-close-btn"
        type="button"
        aria-label="Закрити меню"
        data-burger-close
      >
        <svg width="20" height="20" aria-hidden="true">
          <use href="../img/sprite.svg#icon-x"></use>
        </svg>
      </button>
    </div>

    <div class="nav-wrapper">
      <div class="nav-wrap">
        <nav class="mobile-nav">
          <ul class="mobile-menu-list">
            <li>
              <a class="mobile-menu-link" href="#about">About the Game</a>
            </li>
            <li>
              <a class="mobile-menu-link" href="#play">How to Play</a>
            </li>
            <li>
              <a class="mobile-menu-link" href="#features">Features</a>
            </li>
            <li>
              <a class="mobile-menu-link" href="#started">Get Started Now</a>
            </li>
            <li>
              <a class="mobile-menu-link" href="#gallery">Gallery</a>
            </li>
            <li>
              <a class="mobile-menu-link" href="#reviews">Player Reviews</a>
            </li>
            <li>
              <a class="mobile-menu-link" href="#faq">FAQ</a>
            </li>
            <li>
              <a class="mobile-menu-link" href="#contact">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
