<section class="play" id="play">
  <div class="container play-container">
    <p class="play-label">How to Play</p>
    <h1 class="play-title">Plan, place, defend</h1>
    <div class="play-content-cover">
      <div class="play-text-content">
        <ul class="play-list">
          <li class="play-item">
            <div class="play-wrapper">
              <h2 class="play-subtitle">Build Defenses</h2>
              <p class="play-content">
                Place towers strategically to cover key paths.
              </p>
            </div>
          </li>

          <li class="play-item">
            <div class="play-wrapper">
              <h2 class="play-subtitle">Upgrade Units</h2>
              <p class="play-content">
                Enhance tower power to handle stronger enemies.
              </p>
            </div>
          </li>
          <li class="play-item">
            <div class="play-wrapper">
              <h2 class="play-subtitle">Manage Resources</h2>
              <p class="play-content">
                Use available resources wisely to expand your defense.
              </p>
            </div>
          </li>
          <li class="play-item">
            <div class="play-wrapper">
              <h2 class="play-subtitle">Adapt Strategy</h2>
              <p class="play-content">
                Adjust your setup based on enemy behavior.
              </p>
            </div>
          </li>
          <li class="play-item">
            <div class="play-wrapper">
              <h2 class="play-subtitle">Survive Waves</h2>
              <p class="play-content">
                Hold your position through increasingly difficult attacks.
              </p>
            </div>
          </li>
        </ul>
      </div>
      <div class="play-cover">
        <ul class="play-img-list">
          <li class="play-img-item">
            <div class="play-img-wrap">
              <picture>
                <source
                  media="(max-width: 1199px)"
                  srcset="
                    ./img/howplay/howplay-img1-mobile1x.png 1x,
                    ./img/howplay/howplay-img1-mobile2x.png 2x
                  "
                />
                <source
                  media="(min-width: 1200px)"
                  srcset="
                    ./img/howplay/howplay-img1-desktop1x.png 1x,
                    ./img/howplay/howplay-img1-desktop2x.png 2x
                  "
                />
                <img
                  class="play-img"
                  src="./img/howplay/howplay-img1-desktop1x.png"
                  alt="Play game"
                />
              </picture>
            </div>
          </li>
          <li class="play-img-item">
            <div class="play-img-wrap">
              <picture>
                <source
                  media="(max-width: 1199px)"
                  srcset="
                    ./img/howplay/howplay-img2-mobile1x.png 1x,
                    ./img/howplay/howplay-img2-mobile2x.png 2x
                  "
                />
                <source
                  media="(min-width: 1200px)"
                  srcset="
                    ./img/howplay/howplay-img2-desktop1x.png 1x,
                    ./img/howplay/howplay-img2-desktop2x.png 2x
                  "
                />
                <img
                  class="play-img"
                  src="./img/howplay/howplay-img2-desktop1x.png"
                  alt="Play game"
                />
              </picture>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
