<section class="reviews" id="reviews">
  <div class="container">
    <h2 class="reviews-h2">Player Reviews</h2>
    <div class="swiper reviews-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide first">
          <div class="block">
            <div class="block-header">
              <h3 class="players">Strategist</h3>
              <ul class="block-stars">
                <li>
                  <svg class="star" width="23" height="22">
                    <use href="./icons/sprite.svg#icon-star-filler"></use>
                  </svg>
                </li>
                <li>
                  <svg class="star" width="23" height="22">
                    <use href="./icons/sprite.svg#icon-star-filler"></use>
                  </svg>
                </li>
                <li>
                  <svg class="star" width="23" height="22">
                    <use href="./icons/sprite.svg#icon-star-filler"></use>
                  </svg>
                </li>
                <li>
                  <svg class="star" width="23" height="22">
                    <use href="./icons/sprite.svg#icon-star-filler"></use>
                  </svg>
                </li>
                <li>
                  <svg class="star" width="23" height="22">
                    <use href="./icons/sprite.svg#icon-star-filler"></use>
                  </svg>
                </li>
              </ul>
            </div>
            <p class="players-comment">
              "I love how you have to think ahead but also react quickly when
              things get crazy."
            </p>
          </div>
        </div>
        <div class="swiper-slide second">
          <div class="block">
            <div class="block-header">
              <h3 class="players">Ivan K.</h3>
              <ul class="block-stars">
                <li>
                  <svg class="star" width="23" height="22">
                    <use href="./icons/sprite.svg#icon-star-filler"></use>
                  </svg>
                </li>
                <li>
                  <svg class="star" width="23" height="22">
                    <use href="./icons/sprite.svg#icon-star-filler"></use>
                  </svg>
                </li>
                <li>
                  <svg class="star" width="23" height="22">
                    <use href="./icons/sprite.svg#icon-star-filler"></use>
                  </svg>
                </li>
                <li>
                  <svg class="star" width="23" height="22">
                    <use href="./icons/sprite.svg#icon-star-filler"></use>
                  </svg>
                </li>
                <li>
                  <svg
                    class="star-empty"
                    width="23"
                    height="22"
                    stroke="transparent"
                  >
                    <use href="./icons/sprite.svg#icon-star"></use>
                  </svg>
                </li>
              </ul>
            </div>
            <p class="players-comment">
              “Tough as nails but feels great when you finally nail a level.”
            </p>
          </div>
        </div>
        <div class="swiper-slide third">
          <div class="block">
            <div class="block-header">
              <h3 class="players">DefensePro</h3>
              <ul class="block-stars">
                <li>
                  <svg class="star" width="23" height="22">
                    <use href="./icons/sprite.svg#icon-star-filler"></use>
                  </svg>
                </li>
                <li>
                  <svg class="star" width="23" height="22">
                    <use href="./icons/sprite.svg#icon-star-filler"></use>
                  </svg>
                </li>
                <li>
                  <svg class="star" width="23" height="22">
                    <use href="./icons/sprite.svg#icon-star-filler"></use>
                  </svg>
                </li>
                <li>
                  <svg class="star" width="23" height="22">
                    <use href="./icons/sprite.svg#icon-star-filler"></use>
                  </svg>
                </li>
                <li>
                  <svg class="star" width="23" height="22">
                    <use href="./icons/sprite.svg#icon-star-filler"></use>
                  </svg>
                </li>
              </ul>
            </div>
            <p class="players-comment">
              “Love the upgrade system and strategy depth.”
            </p>
          </div>
        </div>
        <div class="swiper-slide fours">
          <div class="block">
            <div class="block-header">
              <h3 class="players">Anna V.</h3>
              <ul class="block-stars">
                <li>
                  <svg class="star" width="23" height="22">
                    <use href="./icons/sprite.svg#icon-star-filler"></use>
                  </svg>
                </li>
                <li>
                  <svg class="star" width="23" height="22">
                    <use href="./icons/sprite.svg#icon-star-filler"></use>
                  </svg>
                </li>
                <li>
                  <svg class="star" width="23" height="22">
                    <use href="./icons/sprite.svg#icon-star-filler"></use>
                  </svg>
                </li>
                <li>
                  <svg class="star" width="23" height="22">
                    <use href="./icons/sprite.svg#icon-star-filler"></use>
                  </svg>
                </li>
                <li>
                  <svg
                    class="star-empty"
                    width="23"
                    height="22"
                    stroke="transparent"
                  >
                    <use href="./icons/sprite.svg#icon-star"></use>
                  </svg>
                </li>
              </ul>
            </div>
            <p class="players-comment">
              “Engaging gameplay and clear progression.”
            </p>
          </div>
        </div>
        <div class="swiper-slide five">
          <div class="block">
            <div class="block-header">
              <h3 class="players">WarMind</h3>
              <ul class="block-stars">
                <li>
                  <svg class="star" width="23" height="22">
                    <use href="./icons/sprite.svg#icon-star-filler"></use>
                  </svg>
                </li>
                <li>
                  <svg class="star" width="23" height="22">
                    <use href="./icons/sprite.svg#icon-star-filler"></use>
                  </svg>
                </li>
                <li>
                  <svg class="star" width="23" height="22">
                    <use href="./icons/sprite.svg#icon-star-filler"></use>
                  </svg>
                </li>
                <li>
                  <svg class="star" width="23" height="22">
                    <use href="./icons/sprite.svg#icon-star-filler"></use>
                  </svg>
                </li>
                <li>
                  <svg class="star" width="23" height="22">
                    <use href="./icons/sprite.svg#icon-star-filler"></use>
                  </svg>
                </li>
              </ul>
            </div>
            <p class="players-comment">
              “Every level feels like a real challenge.”
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
