<section class="started" id="started">
  <div class="container started-container">
    <div class="started-content">
      <p class="started-label">Get Started Now</p>
      <h1 class="started-title">
        Ready to defend your base? Jump in and see what you can do
      </h1>
      <p class="started-text">
        Figure out your game plan, beef up your towers, and see if you can
        handle what's coming. Every wave's gonna show you whether you actually
        know what you're doing.
      </p>
      <div class="box started-box">
        <a
          class="link-card"
          href="https://play.google.com/store/apps/details?id=com.wagmigame&hl=en&gl=us"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            class="link-icon"
            src="./img/hero/Google Play logo.png"
            alt="Google play"
          />
          <img class="link-label" src="./img/hero/Text.png" alt="Google play" />
        </a>
      </div>
    </div>
    <div class="started-wrap">
      <picture>
        <source
          media="(max-width: 1199px)"
          srcset="
            ./img/started/started-hero-mobile1x.png 1x,
            ./img/started/started-hero-mobile2x.png 2x
          "
        />
        <source
          media="(min-width: 1200px)"
          srcset="
            ./img/started/started-hero-desktop1x.png 1x,
            ./img/started/started-hero-desktop2x.png 2x
          "
        />
        <img
          class="started-img"
          src="../img/started/started-hero-desktop1x.png"
          alt="Started game"
        />
      </picture>
    </div>
  </div>
</section>
