.faq {
  min-width: 320px;
  width: 100%;
  scroll-margin-top: 61px;
  background-color: var(--white);
  color: var(--light-black);
  margin: 0 auto;
}

.faq-label {
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.faq-content {
  width: 100%;
  max-width: 343px;
  margin: 0 auto;
}

.faq-title {
  margin-bottom: 24px;
  font-family: var(--second-family);
  font-size: 28px;
  font-weight: 400;
  line-height: 1.1;
  text-align: start;
  letter-spacing: 0em;
  color: var(--black);
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.faq-question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 36px;
  padding: 0px 8px;
  border: 0;
  border-radius: 8px;
  background-color: var(--light-black);
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.1;
  text-align: left;
  color: var(--white);
  cursor: pointer;
}

.faq-question:hover:not(:active) {
  box-shadow: 0 0 20px 0 var(--pink);
}

.faq-question:focus-visible {
  border: 1px solid var(--bright-blue);
}

.faq-question:active {
  width: 100%;
  border: 0;
  outline: 0;
  box-shadow: none;
}

.faq-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
}

.faq-icon-left,
.faq-icon-plus {
  width: 21px;
  height: 21px;
  position: absolute;
  color: var(--white);
  fill: var(--white);
  transition: opacity 200ms ease;
}

.faq-icon-left {
  opacity: 1;
}

.faq-icon-plus {
  opacity: 0;
}

.faq-question[aria-expanded='true'] .faq-icon-left {
  opacity: 0;
}

.faq-question[aria-expanded='true'] .faq-icon-plus {
  opacity: 1;
}

.faq-answer {
  max-height: 0;
  margin-top: 0;
  margin-left: 8px;
  overflow: hidden;
  font-size: 20px;
  font-weight: 400;
  line-height: 110%;
  color: var(--medium-grey);
  opacity: 0;
  transition:
    max-height 250ms ease,
    margin-top 250ms ease,
    opacity 250ms ease;
}

.faq-item[data-open] .faq-answer {
  max-height: 120px;
  margin-top: 4px;
  opacity: 1;
}

@media only screen and (min-width: 1200px) {
  .faq {
    max-width: 1440px;
    scroll-margin-top: 66px;
  }

  .faq-label {
    font-size: 24px;
    margin-bottom: 40px;
  }

  .faq-content {
    max-width: 596px;
  }

  .faq-list {
    gap: 32px;
  }

  .faq-title {
    margin-bottom: 32px;
    font-size: 36px;
  }

  .faq-question {
    min-height: 60px;
    padding: 8px 16px;
    font-size: 28px;
  }

  .faq-icon {
    width: 44px;
    height: 44px;
  }

  .faq-icon-left,
  .faq-icon-plus {
    width: 26px;
    height: 26px;
  }

  .faq-answer {
    margin-top: 0;
    margin-left: 16px;
    font-size: 28px;
  }

  .faq-item.is-open .faq-answer {
    margin-top: 8px;
  }
}
