.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
}
.header {
  background-color: #fff;
  border-bottom: 2px solid #ff4ef4;
  box-shadow: 0 0 20px 0 #ff4ef4;
  background: #fff;
}

.header-logo img {
  border-radius: 8px;
  width: 44px;
  height: 44px;
}

.header-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  /* padding: 8px; */
  background: transparent;
  border: none;
  cursor: pointer;
}

.header-menu {
  display: none;
}

.header-wrapper {
  margin: 0 auto;
}

@media screen and (min-width: 1440px) {
  .header .container {
    min-height: 64px;
    max-width: 1440px;
    padding: 0 112px;
  }

  .header-btn {
    display: none;
  }

  .header-wrapper {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  .header-menu {
    display: flex;
    align-items: center;
    gap: 19.71px;
  }

  .header-menu-link {
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.1;
    color: #222222;
  }

  .header-menu-link {
    position: relative;
    transition: color 0.2s ease;
  }

  .header-menu-link:hover,
  .header-menu-link:focus {
    border-bottom: 2px solid #ff4ef4;
    outline: none;
  }
}
