.started {
  scroll-margin-top: 61px;
}
.started-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.started-content,
.started-wrap {
  /* max-width: 343px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.started-label {
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  color: #e9e9e9;
  margin-bottom: 24px;
  margin-right: auto;
}

.started-title {
  font-family: 'Russo One', sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.1;
  color: #fdfdfd;
  margin-bottom: 8px;
}

.started-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  color: #d1d0d0;
  /* max-width: 343px; */
  width: 100%;
  margin-bottom: 24px;
}

.started-box {
  margin-bottom: 32px;
}
@media only screen and (min-width: 1200px) {
  .started {
    scroll-margin-top: 66px;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
  }

  .started-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    width: 100%;
  }
  .started-content,
  .started-wrap {
    flex: 1;
  }
  .started-label {
    font-size: 24px;
    margin-bottom: 40px;
  }
  .started-title {
    font-size: 48px;
    margin-bottom: 32px;
  }
  .started-text {
    font-size: 32px;
    margin-bottom: 32px;
    max-width: 620px;
    width: 100%;
  }
  .started-content {
    max-width: 620px;
    width: 100%;
  }
  .started-box {
    max-width: 216px;
    width: 100%;
    margin-bottom: 0;
  }
  .started-wrap {
    display: flex;
    justify-content: center;
  }
}
